@import url('https://fonts.googleapis.com/css?family=Raleway');

/* CSS declarations go here */
* {
  font-family: 'Raleway', sans-serif;
}

a {
  cursor: pointer;
}

.react-root {
  height: 100%;
}

.login-subtitle {
  font-size: 0.9rem;
}

.centered-segment {
  border: 1px solid #7693d9 !important;
}

.gradient {
  background: linear-gradient(270deg, #a6e4d4, #e8ab79);
  background-size: 400% 400%;
  height: 100%;
  -webkit-animation: background-gradient 9s ease infinite;
  -moz-animation: background-gradient 9s ease infinite;
  animation: background-gradient 9s ease infinite;
}

.md-title {
  color: lightblue;
  margin-left: 10px;
}

.shared-with-label {
  background-color: rgb(196, 224, 235) !important;
  border-color: gray !important;
}

.shared-with-form,
.new-editor-form {
  float: right;
}

.centered-form {
  max-width: 450px;
  margin-top: 80px;
}

.CodeMirror {
  height: 300px !important;
}

.editor-viewer {
  height: 300px;
  border: lightblue solid 1px;
  overflow-y: scroll;
}

/* Keyframes ----------------------------------------
--------------------------------------------------- */
@-webkit-keyframes background-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes background-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes background-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
